.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0 auto;
  background-color: #ffffff;
  font-family: 'Work Sans', cursive;
  color: #444444;
}

.bubble {
  background-color: #5fdde5;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: inline-block;
  margin: 0 2px;
}

.container {
  /* width: 600px;
  height: 300px; */
  max-width: 650px;
  margin: 0 auto;
}

.popped {
  background-color: #5fdde560;
}

h1 {
  margin-bottom: 0;
}

p {
  margin-top: 10px;
}

@media screen AND (max-width: 500px) {
  .container {
    width: 100%;
  }
}
